<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta http-equiv="X-UA-compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script th:src="@{jquery-3.3.1/jquery-3.3.1.js}"></script>
    <script th:src="@{bootstrap-3.3.7-dist/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{bootstrap-3.3.7-dist/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{bootstrap-3.3.7-dist/css/bootstrap-theme.min.css}">
    <link rel="stylesheet" th:href="@{bootstrap-3.3.7-dist/css/blogcss.css}">
</head>

<body>
<div class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <div class="navbar-brand " th:style="'background-image:url(' + @{img/github4.svg} + ');'"></div>
            <!--<h3>Asuka Langley Soryu</h3>-->
            <ul class="nav navbar-nav  ">
                <li><a href="#">新建博客</a></li>
                <li><a href="#">浏览博客</a></li>
                <li><a href="#">博客分类</a></li>
                <li><a href="#">删除博客</a></li>
                <li><a href="#">导出内容</a></li>
            </ul>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#" class="glyphicon glyphicon-user">&nbsp;切换用户</a></li>
            <li><a href="#" class="glyphicon glyphicon-log-in">&nbsp;注销登陆</a></li>
        </ul>
    </div>
</div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="list-group side-bar">
                <a href="#" class="list-group-item active">综合</a>
                <a href="#" class="list-group-item ">java</a>
                <a href="#" class="list-group-item ">python</a>
                <a href="#" class="list-group-item ">DBA</a>
                <a href="#" class="list-group-item ">C++</a>
                <a href="#" class="list-group-item ">前端</a>
                <a href="#" class="list-group-item ">情感</a>
                <a href="#" class="list-group-item ">日常</a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="main-blog">
                <div class="blog-list clearfix">
                    <div class="col-xs-5">
                        <img th:src="@{img/test_1.jpg}">
                    </div>
                    <div class="col-xs-7">
                        <a class="title">GitHub is a development platform inspired by the way you work.</a>
                        <div class="info">
                            <span class="avatar"><img th:src="@{img/github3.svg}"></span>
                            <span>tzb_In_Sky</span>.
                            <span>30w评论</span>.
                            <span>三天前</span>
                        </div>
                    </div>
                </div>
                <div class="blog-list clearfix">
                    <div class="col-xs-5">
                        <img th:src="@{img/test_2.jpg}">
                    </div>
                    <div class="col-xs-7">
                        <a class="title">GitHub is a development platform inspired by the way you work.</a>
                        <div class="info">
                            <span class="avatar"><img th:src="@{img/github3.svg}"></span>
                            <span>tzb_In_Sky</span>.&nbsp
                            <span>30w评论</span>.&nbsp
                            <span>三天前</span>
                        </div>
                    </div>
                </div>
                <div class="blog-list clearfix">
                    <div class="col-xs-5">
                        <img th:src="@{img/test_3.jpg}">
                    </div>
                    <div class="col-xs-7">
                        <a class="title">GitHub is a development platform inspired by the way you work.</a>
                        <div class="info">
                            <span class="avatar"><img th:src="@{img/github3.svg}"></span>
                            <span>tzb_In_Sky</span>.&nbsp
                            <span>30w评论</span>.&nbsp
                            <span>三天前</span>
                        </div>
                    </div>
                </div>
                <div class="blog-list clearfix">
                    <div class="col-xs-5">
                        <img th:src="@{img/test_1.jpg}">
                    </div>
                    <div class="col-xs-7">
                        <a class="title">GitHub is a development platform inspired by the way you work.</a>
                        <div class="info">
                            <span class="avatar"><img th:src="@{img/github3.svg}"></span>
                            <span>tzb_In_Sky</span>.&nbsp
                            <span>30w评论</span>.&nbsp
                            <span>三天前</span>
                        </div>
                    </div>
                </div>
                <div class="blog-list clearfix">
                    <div class="col-xs-5">
                        <img th:src="@{img/test_1.jpg}">
                    </div>
                    <div class="col-xs-7">
                        <a class="title">GitHub is a development platform inspired by the way you work.</a>
                        <div class="info">
                            <span class="avatar"><img th:src="@{img/github3.svg}"></span>
                            <span>tzb_In_Sky</span>.&nbsp
                            <span>30w评论</span>.&nbsp
                            <span>三天前</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="search-bar">
                <form action="#" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="good luck">
                        <button type="button" class="btn btn-sm  ">运气不错</button>
                    </div>
                </form>
            </div>
            <div class="side-bar-card clearfix">
                <div class="col-xs-5">
                    <img th:src="@{img/old-republic.svg}" alt="">
                </div>
                <div class="col-xs-7">
                    <div>投诉建议专区</div>
                    <div>联系邮箱：</div>
                    <div>1519811743@qq.com</div>
                </div>
            </div>

            <div class="side-bar-card-01 clearfix">
                <img th:src="@{img/github3.svg}" alt="">
                <div class="userInfo">
                    <div>——————————————————</div>
                    <div>

                        <ul class="">
                            <li><span class="glyphicon glyphicon-user">程灵素</span></li>
                            <li><span class="glyphicon glyphicon-time">2019/2/28</span></li>
                            <li><span class="glyphicon glyphicon-apple">--apple--</span></li>
                        </ul>
                    </div>
                    <div class="detail">杨柳如烟，一剑乘风</div>
                    <div class="detail">杨柳如烟，一剑乘风</div>
                    <div class="detail">杨柳如烟，一剑乘风</div>
                    <div class="detail">杨柳如烟，一剑乘风</div>
                    <div class="detail">杨柳如烟，一剑乘风</div>
                    <div class="detail">杨柳如烟，一剑乘风</div>
                    <div class="detail">剑舞红颜笑</div>
                    <div class="detail">剑舞红颜笑</div>
                    <div class="detail">剑舞红颜笑</div>
                    <div class="detail">剑舞红颜笑</div>
                    <div class="detail">剑舞红颜笑</div>
                    <div class="detail">剑舞红颜笑</div>
                    <div class="detail">剑舞红颜笑</div>


                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>